/*code for login page */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    }

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

/* code for header and footer begins */

main {
	height:auto;
	width:auto;	
}


header{
    width :auto;
    background-color: #FF1EA7 ;   
    color:white;
    height: 65px !important;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height:40px;
    background-color: #242B37  ;
    line-height:4rem;
    color:white;
    font-size:1.25rem;
    text-align: right;
}

section#leftBar{
	background-color: teal;
	text-align:center;
  color:white;
  font-size:1.5rem;	
}

section#rightBar{
	height:auto;
	text-align: center;
}

/* code for piechart and bar graph begins */


.barChart:hover{
    fill :red;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";           /* css icon :triangle down */
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

div#charts{
	background:#FFE0E0;
}
.footer{
  width: 100%;
  text-align: right;
}
.footer>p{
  margin:0 0 0;
  margin-right: 10%;
  font-size:1.3em;
}

#login{
  background-color: #008B8B;
}

#loginImag{
border-radius: 50%;
}

#designation{
  font-size: 14px;
  color:#cccccc;
}

#logOut{
  color:white;
  float:right;
  text-decoration: none;
  line-height:4rem;
}

/* code for axis bar graph */
.axis path,                                  
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
        stroke-width: 2;
    }
    .axis text {
        font-family: sans-serif;
        font-size: 12px;
    }

    #rightBar{
      padding: 0;
      min-height: calc( 100% - 105px ); 
      
    }
    .sidelist{
      margin-top: 3em;

    }

    .sidelist>li>a{
      color: black;
      background-color: pink;
      border: 1px solid;
      border-radius: 5px;
    }
    .sidelist>li>.active{
      background-color: white;
    }
    html,body{
      height: 100%
    }

    .sumdiv{
    background-color: #8DC3E9;
    text-align: center;
    border: 2px solid pink;
    width: 11em;
    padding: 1em;
    margin: 2em 5em 0em;
    border-radius:10px; 
    cursor: pointer;

    }
    .sumdiv:hover{
      background-color: #A99AC1;
    }
    #chUser>.sumdiv{border: 2px solid #00477F;}
    .sactive{
      border: 2px solid #00477F;
    }
    .arrow{position:relative;z-index:0;width:0;height:0;border-color:#00477F transparent transparent transparent;border-style:solid;border-width:15px;display: none;margin-left: 9em}
     .blink {
      margin-left: 5px;
      color: #00477F;
     // animation: blink 1s steps(5, start) infinite;
     // -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
    .actusr{
      border: 1px solid pink;
    padding: 6px;
    background-color: antiquewhite;
    font-weight: bold;
    }
    .mau>span{
      font-style: italic;
    color: blue;
    }
    #loginHeader{
    background: #FF1EA7;
    height: 6%;
    color: white;
    font-size: 40px;
    padding-left: 25px;
    font-family: helvetica;
}
#leftBar{
  
    padding: 25px 25px 0px;
   min-height: calc( window.innerHeight - 105px ); 
}
.cbody{
   min-height: calc( 100% - 105px );  
}
#leftBar>div{
   padding: 10px;
    background-color: aliceblue;
    webkit-box-shadow: -1px 3px 15px -2px rgba(0,0,0,0.75);  -moz-box-shadow: -1px 3px 15px -2px rgba(0,0,0,0.75);  box-shadow: -1px 3px 15px -2px rgba(0,0,0,0.75);
    border-radius: 1px;
    cursor: pointer;
    font-weight: bold;
}
#leftBar>div:hover{
  background-color: #FF1EA7;
}
#leftBar>.active{
  background-color: #FF1EA7;
}
#sidemenu>.icon-bar{
background-color: black;
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 1px
}
.vcentr{
  display: -webkit-flex !important;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.bdata{
  height: 23em;
  background-color: #8DC3E9;
  margin-top: -15px;
  border-radius: 10px;
}
.bar {
  fill: #00477F;
}
.bar:hover{
  fill:#FF1EA7;
  cursor: pointer;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.premon,.nexmon{
  color: aqua;
  cursor: pointer;
}


#graticule {
fill: none;
stroke: #000;
stroke-opacity: .5;
stroke-width: .5px;
}

.continent{
  stroke: #000;
stroke-opacity: .5;
stroke-width: .5px;
}
.hidden {
display: none;
}
div.tooltip {
color: #222;
background: #fff;
padding: .5em;
text-shadow: #f5f5f5 0 1px 0;
border-radius: 2px;
box-shadow: 0px 0px 2px 0px #a6a6a6;
opacity: 0.9;
position: absolute;
}